.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px;
  background-color: rgb(49, 49, 49);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: rgb(28, 85, 78);
  width: 100%;
}

h1 {
  font-size: 3.2em;
  margin: 10px 0 5px 0;
  color: rgb(247, 129, 168);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  font-size: 2em;
  padding: 5px;
  margin: 10px 0 0 0;
  color: rgb(255, 223, 254);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.playAgainBtn {
  margin: 15px;
  width: 200px;
  height: 200px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(247, 129, 168);
}
