main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: rgb(28, 85, 78);
  width: 100%;
}

h1 {
  font-size: 3.2em;
  margin: 10px 0 5px 0;
  color: rgb(247, 129, 168);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
  font-size: 2em;
  padding: 5px;
  margin: 10px 0 0 0;
  color: rgb(255, 223, 254);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px;
  background-color: rgba(48, 48, 48, 0.849);
  border-radius: 5px;
}

.playAgainBtn {
  margin: 15px;
  width: 200px;
  height: 80px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
  font-weight: bold;
  background-color: rgb(247, 129, 168);
  border-radius: 5px;
}

@media (min-width: max-width: 550px) {
  main {
    width: 100%;
  }
  h1 {
    font-size: 2.8em;
  }
  h2 {
    font-size: 1.7em;
    margin-top: 5px;
  }
  .box-container {
    width: 85%;
    height: 50vh;
    padding: 10px;
  }
}
