.box {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  background-color: rgb(255, 223, 254);
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 90px;
  font-weight: bold;
}
